*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --main-color: #5798b0;
    --main-color-rgb: 87, 152, 176;
    --font-color: #454545;
    --font-color-rgb: 69, 69, 69;
    --fs: 18px;
    --fw: 400;
    --heading-font-family: 'Playfair Display', serif;
    --normal-font-family: 'Open Sans', sans-serif;
    --other-font-family : 'Lora', serif;
    --heading-color : #3e606b;
    --heading-color-rgb : 62, 96, 107;
    --normal-color-1 : #242424;
    --normal-color-1-rgb : 36, 36, 36;
    --normal-color-2 : #797979;
    --normal-color-2-rgb : 121, 121, 121;
    --white: #ffffff;
    --white-rgb: 255, 255, 255;
}
body{
    color: var(--font-color);
    font-size: var(--fs);
    font-weight: var(--fw);
    font-family: var(--normal-font-family);
}
ul,
ol{
    list-style: none;
    padding: 0;
}
a{
    cursor: pointer;
    text-decoration: none;
}
hr{
    margin: 0;
}
.py-100{
    padding-top: 100px;
    padding-bottom: 100px;
}
.pt-100{
    padding-top: 100px;
}
.pb-100{
    padding-bottom: 100px;
}
.px-50{
    padding-left: 50px;
    padding-right: 50px;
}
.btn-1{
    display: inline-block;
    padding: 0 43px;
    background-color: var(--white);
    line-height: 52px;
    font-size: 18px;
    color: var(--heading-color);
    font-family: var(--normal-font-family);
    border-radius: 26px;
    font-weight: 600;
}

/* Header */
header{
    background-color: var(--white);
    position: relative;
}
header::after{
    position: absolute;
    content: '';
    background-image: url(../images/logo/header-shape-2.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: -40%;
    z-index: 9;
}
.logo a{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 50%);
    z-index: 99;
}
.logo a::before{
    content: '';
    background-image: url(../images/logo/header-shape-1.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 210px;
    width: 210px;
    position: absolute;
    bottom: -40px;
    left: -20px;
    z-index: -1;
}
.logo a img{
    margin-top: 20px;
}
.navbar{
    padding: 0;
}
.navbar-collapse{
    margin: 0;
}
nav>ul>li{
    line-height: 85px;
    position: relative;
}
nav>ul>li>a.nav-link{
    color: var(--font-color);
    padding: 0;
    padding-right: 40px;
    font-weight: 600;
    transition: all 0.3s linear;
}
nav ul li a.nav-link::before{
    position: absolute;
    content: '';
    left: 0;
    top: 65%;
    width: 0;
    height: 3px;
    background-color: var(--main-color);
    visibility: hidden;
    transition: all 0.3s linear;
}
nav ul li a.nav-link:hover{
    color: var(--main-color);
}
nav ul li a:hover::before{
    width: 25px;
    visibility: visible;
}
.nav-link.active{
    color: var(--main-color);
}
.nav-link.active::before{
    visibility: visible;
    width: 25px;
}
nav>ul>li.dropdown>a::after{
    position: absolute;
    content: '\2b';
    font-family: 'font awesome 6 free';
    font-size: 14px;
    margin-left: 3px;
    transition: all 0.3s linear;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    left: 75%;
}
nav>ul>li.dropdown>a:hover::after{
    transform: translateY(-50%) rotate(90deg);
    vertical-align: middle;
    margin-left: 3px;
}
nav>ul>li.dropdown:first-child>a:hover::after{
    transform: translateY(-50%) rotate(0deg);
}
.dropdown-menu-1{
    position: absolute;
    z-index: 99;
    background-color: var(--white);
    left: 0;
    top: 80%;
    visibility: hidden;
    opacity: 0;
    min-width: 250px;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.08);
    transition: all 0.3s linear;
}
.dropdown-menu-1 li{
    line-height: 0px;
}
.dropdown-menu-1 li a{
    padding: 20px 20px;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}
.dropdown-menu-1 li a:hover{
    background-color: var(--main-color);
    color: var(--white);
}
.dropdown:hover .dropdown-menu-1{
    opacity: 1;
    visibility: visible;
}

/* Main */
/* Banner */
.banner{
    position: relative;
}
.carousel-item .slider-1,
.carousel-item .slider-2{
    background-image: url(../images/banner/slider-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 85vh;
}
.carousel-item .slider-2{
    background-image: url(../images/banner/slider-2.png);
}
.carousel-control-prev,
.carousel-control-next{
    opacity: 0;
}
.carousel-control-prev .left-btn,
.carousel-control-next .right-btn{
    display: block;
    height: 70px;
    width: 70px;
    background-color: rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    text-align: center;
    color: var(--white);
    line-height: 70px;
    font-size: 24px;
    z-index: 99;
    overflow: hidden;
    position: relative;
}
.left-btn::after,
.right-btn::after{
    content: '';
    position: absolute;
    background-image: url(../images/banner/slider-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    right: 80px;
    height: 70px;
    width: 70px;
    z-index: -1;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s linear;
}
.right-btn::after{
    background-image: url(../images/banner/slider-2.png);
}
.left-btn:hover::after, .right-btn:hover::after{
    opacity: 1;
    left: 0;
}
.banner:hover .carousel-control-prev,
.banner:hover .carousel-control-next{
    opacity: 1;
}
.slider-text{    
    padding: 200px 50px;
    color: white;
    font-family: var(--heading-font-family);
}
.slider-text h1{
    font-size: 65px;
    font-weight: 600;
}
.slider-text p{
    width: 55%;
    margin-bottom: 30px;
}

/* Welcome Start */
.welcome{
    background-image: url(../images/welcome/welcome-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 165vh;
    z-index: 0;
}
.welcome::before{
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-image: url(../images/welcome/left-shape.png);
    background-repeat: no-repeat;
    background-position: left;
    height: 100vh;
    width: 100%;
}
.welcome::after{
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    background-image: url(../images/welcome/right-shape.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    width: 100%;
}
.main-title{
    color: var(--heading-color);
    font-size: 38px;
    padding-bottom: 15px;
    font-weight: 700;
    margin: 0;
    font-family: var(--heading-font-family);
    position: relative;
    display: inline-block;
}
.main-title::after{
    position: absolute;
    content: '';
    right: -60px;
    bottom: 20px;
    background-color: #acb2b4;
    height: 1px;
    width: 45px;
}
.welcome-text h6,  .feature-left h5{
    color: var(--normal-color-1);
    font-size: 20px;
    font-family: var(--other-font-family);
    line-height: 30px;
}   
.welcome-text p{
    font-size: 16px;
    color: var(--normal-color-2);
}
.welcome-text a{
    background-color: var(--main-color);
    color: var(--white);
}
.angle-button{
    position: relative;
}
.left-angle, .right-angle{
    height: 40px;
    width: 40px;
    border: 2px solid #d0d0d0;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: var(--secondary-color);
    cursor: pointer;
    font-size: 13px;
    transition: all 0.3s linear;
}
.left-angle{
    left: 40%;
}
.right-angle{
    margin-left: -30px;
}
.left-angle:hover, .right-angle:hover{
    color: var(--white);
    background-color: var(--main-color);
}
.feature-left h5{
    color: var(--normal-color-2);
}
.card{
    border: none;
    box-shadow: 0px 0px 15px 0px rgba(40, 40, 40, 0.08);
}
.card-body{
    position: relative;
}
.card-body h4{
    position: absolute;
    left: 25%;
    top: 0;
    transform: translate(50%,  -50%);
    font-family: var(--heading-font-family);
    font-weight: 400;
    height: 70px;
    width: 70px;
    line-height: 70px;
    text-align: center;
    background-color: var(--white);
    border-radius: 50%;
    color: #343434;
}
.card .card-body h5{
    font-family: var(--heading-font-family);
    color: #343434;
    font-size: 18px;
    font-weight: lighter;
    padding-bottom: 15px;
    padding-top: 25px;
}
.card .card-body a{
    padding: 5px 20px;
    border-radius: 3px;
    position: relative;
}
.card .card-body a::after{
    content: '';
    position: absolute;
    height: 155px;
    width: 50px;
    background-color: var(--white);
    opacity: 0.2;
    top: -50px;
    left: -75px;
    transform: rotate(35deg);
    transition: all 0.3s linear;
}
.card .card-body a:hover::after{
    left: 120%;
    transition: all 0.3s linear;  
}